VITE_ARC_RPC_URL=https://rpc.testnet.arc.network
VITE_ARC_CHAIN_ID=5042002
VITE_ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
VITE_BONDMIRROR_CONTRACT_ADDRESS=
VITE_BONDMIRROR_FROM_BLOCK=
VITE_POLYMARKET_BUILDER_CODE=
VITE_IPFS_GATEWAY=https://ipfs.io/ipfs/
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
POLYMARKET_BUILDER_CODE=

ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_CHAIN_ID=5042002
ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
DEPLOYER_PRIVATE_KEY=
RISK_AGENT_ADDRESS=

BONDMIRROR_CONTRACT_ADDRESS=
LEADER_PRIVATE_KEY=
MANDATE_URI=
BENCHMARK=50% BTC + 50% USDC
STAKE_USDC_AMOUNT=1000
SLASH_RULES_JSON=

RISK_AGENT_PRIVATE_KEY=
EXECUTE_ATTESTATION=false
EXECUTE_SLASH=false
AFFECTED_FOLLOWERS=

DATABASE_URL=
DIRECT_URL=
